@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variable';

.container{
    max-width: 100% !important;
    width: 100% !important;
    
    @media #{$large-device}{
        
        width: 1920px !important;
    }
}

h3{
    font-size: 30px;
    margin: 4px;
    font-weight: 800 ;
}

h4{
    line-height: 25px;
    margin: 0 0;
    font-size: 24px;

    @media #{$large-mobile}{
        line-height: 40px;
    }
}

body{
    font-family: 'Inter', sans-serif;
    background: $bgcolor;
}




// $large-device : 'only screen and (min-width: 1200px)';
// $desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
// $tablet-device:'only screen and (max-width: 991px)';
// $large-mobile:'only screen and (max-width: 767px)';
// $small-mobile: 'only screen and (max-width: 575px)';
// $extra-small-mobile: 'only screen and (max-width: 479px)';