
.signup{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$tablet-device}{
            display: block;
        }
    }
    // $laptop-device
    // $xlmax-device
    &__left{
        background: $darkGreen;
        flex: 50%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        padding: 50px 136px 0 136px;
        position: fixed;
        width: 46%;
       
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url('../images/logoBack.png') no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -1;
        }

        @media #{$large-mobile}{
            height: auto;
            padding: 50px;
         }

        &--content{
            h3{
                font-weight: 700;
                margin-top: 18px;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                margin-top: 11px;
                line-height: 28px;
            }
        }
        
        @media #{$laptop-device}{
            padding: 50px 35px 0 34px;
         }
        @media #{$tablet-device}{
            position: initial;
            width: 100%;
            padding-bottom: 40px;
         }

         @media #{$small-mobile}{
            img{
                width: 100%;
            }
         }
        
    }
    &__right{
        flex: 50%;
        width: 50%;
        height: 100%;
        background: $bgcolor;
        text-align: center;
        margin-left: 47%;
        padding-bottom: 100px;

        @media #{$tablet-device}{
            width: 100%;
            margin-left: 0%;
        }
        @media #{$large-mobile}{
            height: auto;
            }
        &--content{
            margin: 130px 320px 0 140px;
            width: 496px;

            h3{
                margin-bottom: 15px;
            }

            span.have__account{
                font-size: 18px;
                font-weight: 500;
                display: inline-block;
                margin-bottom: 18px;

                
            }
            a.sing__up{
                color: $darkGreen;
                font-weight: 500;
                font-size: 18px;
            }
            span.remember__me{
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                margin-bottom: 18px;
                color: $gra900;
            }
            .form{
                margin-top: 15px;
                background: $white;
                padding: 48px 48px 48px 37px;
                @include box-shadow;
                @include border-rd(16px);
                text-align: left;

                .row{
                    margin-bottom: 11px;
                }

                @media #{$small-mobile}{
                    padding: 15px;
                }

                .update__pass--p{
                    margin: 20px 0 2px 0;
                }
                .update__pass--span{
                    font-size: 14px;
                    font-weight: 600;
                    color: $gra900;
                }
                .message__img{
                    margin-bottom: 18px;
                }

                input{
                    border: 1px solid $brcolor;
                    @include border-rd(6px);
                    margin-top: 4px;
                    height: 48px;
                    padding-left: 10px;

                    &:focus{
                        border-bottom: 0;
                        border-bottom-color: $brcolor !important;
                        box-shadow: 0 0px 0 0 #26a69a !important;
                    }

                   
                }
                .input-field{
                    margin: 0;
                    
                }
                .input-field-extra{
                    text-align: left;
                }
                .input-field.col label{
                    position: initial;
                    font-size: 14px;
                    color: $rag700;
                    font-weight: 500;
                   
                }
            }

            .row__dispaly{
                display: flex;
                justify-content: space-between;
                text-align: right;
                
                [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
                    // border: 2px solid #5a5a5a;
                    border-color:$brcolor !important;
                    @include border-rd(6px);
                }

                [type="checkbox"].filled-in:checked+span:not(.lever):after{
                    border: 2px solid #4F46E5;;
                    background-color: #4F46E5;;
                }
                [type="checkbox"]+span:not(.lever){
                    padding-left: 30px;
                }
                .forgot{
                    font-size: 14px;
                    font-weight: 500;
                    color: $darkGreen;
                }

                @media #{$large-mobile}{
                    display: initial;
                    text-align: left;
                }

                .check__singup{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            .submit__btn{
                width: 100%;
                background: $darkGreen;
                color: $white;
                height: 48px;
                margin-top: 6px;
                @include border-rd(6px);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                letter-spacing: 0.4px;
                font-size: 16px;
            }

            .forgot__btn{
                font-size: 15px;
                font-weight: 500;
            }



            // responsive
            @media #{$xlmax-device}{
                margin: 130px 168px 0 140px;
            }
            @media #{$laptop-device}{
                margin: 130px 47px 0 58px;
            }
            @media #{$desktop-device}{
                margin: 130px 91px 0 30px;
            }
            @media #{$tablet-device}{
                width: 100%;
                margin: 0px;
                padding: 89px;
            }

            @media #{$large-mobile}{
                margin: 0px;
                padding: 45px;
            }

            @media #{$small-mobile}{
                margin: 30px 0 0 0px;
                padding: 0px;
            }

            .reset__form{
                margin-top: 50px;
                padding: 0;
            }
            .cmn__form{
                padding: 0;
            }
            // for reset page
            .return{
                font-size: 16px;
                color: $darkGreen;
                padding-top: 10px;
                text-align: center;
                font-weight: 500;
                a{
                    text-decoration: underline;
                }
                &__span{
                    padding-right: 3px;
                    padding-top: 10px;
                    display: inline-block;
                }
            }

            // for create account
            .phone__number{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $brcolor;
                height: 48px;
                margin: 10px 0;
                @include border-rd(4px);

               

                select{
                    flex: 13%;
                    height: 48px;
                    border: 0;
                    border-right: 0;
                    background: transparent;
                }
                input{
                    flex: 85%;
                    border: 0;
                    padding-left: 5px;

                    &:focus{
                        border-bottom: 0 !important;
                    }
                }
            }

            // update pass
            
            .back__resend{
                text-align: right;
                

                a{
                    margin: 3px 0 0 48px;
                    color: $gra800;
                }
            }
            
        }
    }
}


// Modal Extra
.ReactModal__Overlay{
    background: rgba($darkGray,0.7)!important;
    z-index: 99;

    .ReactModal__Content{
        border-radius: 0;
        text-align: center;
        padding: 0 0 70px 0 !important;
        width: 700px;

        img{
            margin: 30px 0;
        }
        p{
            font-size: 18px;
            font-weight: 500;
            margin: 6px 0 0 0;
        }
    }

    .modal__top{
        background: $goldcolor;
    }
    .modal__content{
        padding: 42px 40px 30px 40px;
    }
    .modal__btn__wr{
        display: flex;
        justify-content: center;
    }
    .modal__btn{
        background: $darkGreen;
        color: $white;
        height: 48px;
        width: 193px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $darkGreen;
        cursor: pointer;
        padding: 0 20px;
        @include border-rd(6px);
        font-weight: 600;
        letter-spacing: 0.4px;

    }
    .modal__close{
        position: absolute;
        border: 1px solid $white;
        background: $white;
        width: 32px;
        height: 32px;
        display: flex;
        top: 8px;
        right: 8px;
        justify-content: center;
        align-items: center;
        @include border-rd(50%);
        cursor: pointer;
    }
}